.new-listing
  - @body_id = "new-listing-stockpile"

  .columns.four.alpha
    .row
      %h1.title= Spree.t(:new_listing)
      %h6= Spree.t(:step_two_of_three)
      = render partial: 'spree/listings/sideview', locals: { listing: @listing }
  .columns.twelve.omega
    .row
      = render partial: 'stockpile_form', locals: { listing: @listing }

