.offers-edit
  - @body_id = 'offers-edit'
  .columns-twelve-omega
    .row
      %h1= link_to @offer.name, offer_path(@offer)
    .row
      = render 'offer_form', form_helper: @offer_edit_helper, key: @offer.id
