.listing-summary
  %h1= Spree.t(:listing_summary)
  %h6= Spree.t(:listings_with_most_recent_activity)
  %h6= Spree.t(:you_have_no_listings) if shop.top_listings(5).blank?
  %ul.listings
    = render partial: 'spree/shops/summaries/listings/listing', collection: shop.top_listings(5)