.offers-login-new
  - @body_id = 'users-login-new'
  .columns.sixteen.omega
    .row
      %h1= Spree.t(:account_gateway)
      %h6= link_to Spree.t(:register_new_account), signup_path(back: @back_path)
      = render 'spree/shared/login', back: @back_path