.new-listing
  - @body_id = "new-listing"

  .columns.four.alpha
    .row
      %h1.title= Spree.t(:new_listing)
      %h6= Spree.t(:step_one_of_three)
  .columns.twelve.omega
    .row
      = render 'listing_form'
